*.gz
*.xz
libskel/Makefile
libsmfilter/Makefile
libsmrender/Makefile
smrenderd/Makefile
smrenderd/smrenderd
smrenderd/smwsclient
src/Makefile
src/smrender
tools/smfilter2
smrender.aux
smrender.log
smrender.out
smrender.toc
Makefile
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
